[Unit]
Description=Spam Proxy Daemon
After=syslog.target network.target

[Service]
ExecStart=/usr/sbin/spampd --config /etc/spampd.cfg --pid /run/spampd.pid --nodetach
ExecReload=/usr/bin/kill -HUP $MAINPID
KillMode=mixed
KillSignal=SIGQUIT
TimeoutStopSec=30
Restart=on-failure
# To run as a forking server, uncomment below and remove the "--nodetach" option
# from the command line above. You may need/want to add "--setsid" option instead.
#Type=forking
#PIDFile=/run/spampd.pid

[Install]
WantedBy=multi-user.target
