Source: spampd
Section: mail
Priority: optional
Maintainer: Sven Mueller <debian@incase.de>
Build-Depends-Indep: debhelper (>= 4.0.0), dpatch
Standards-Version: 3.6.2.2
Uploaders: martin f. krafft <madduck@debian.org>

Package: spampd
Architecture: all
Depends: ${perl:Depends}, spamassassin (>= 2.6), libnet-server-perl, adduser (>= 3.59), dpkg (>= 1.10.23)
Description: spamassassin based SMTP/LMTP proxy daemon
 spampd is an SMTP/LMTP server designed to be hooked into the
 MTA processing chain (e.g. as a content filter). It is
 written in Perl and uses the Net::Server framework. It is
 intended to provide spam filtering at the system level (i.e.
 ususally for all users). If you rely on per-user configuration
 or per-user Bayes databases, spampd is not for you.
 .
 The major advantage of spampd over plain SpamAssassin (both
 directly and through spamd) is that it doesn't need to load
 all needed perl modules on every invocation or spawn
 a C programme for every mail it receives. Compared to using
 spamc/spamd, spampd can usually provide a 25% performance
 with local-only tests.
 .
 The advantage of spampd over amavisd-new is that it uses the
 original SpamAssassin header tags, which are more verbose than
 the tags which amavisd-new provides. This allows easier 
 filtering in the mail client and easier tuning of SpamAssassin.

